@media screen {
  .mainContainer {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .filter {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
  
  .LoginBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
  .loginFormContainer {
    width: 80%;
    height: 45%;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    z-index: 1;
  }
  
  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    font-size: 3.1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  input {
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    font-size: 0.85rem;
    display: inline-block;
    width: 100%;
    max-width: 94%;
    overflow: hidden;
  }
  
  
  
  .loginSubmit {
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
    border: none;
    background-color: black;
    padding: 1rem;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    transition: 1s;
    background-color: rgb(156, 156, 156);
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
}

@media screen and (min-width: 420px){
  .loginFormContainer {
    height: 50%;
    width: 50%;
    max-width: 65%;
  }
}

@media screen and (min-width: 660px){
  .loginFormContainer {
    height: 40%;
    width: 35%;
  }
}

@media screen and (min-width: 768px){
  .loginFormContainer {
    width: 30%;
  }
}

@media screen and (min-width: 1024px){
  .loginFormContainer {
    width: 25%;
  }
}

@media screen and (min-width: 1440px){
  .loginFormContainer {
    width: 20%;
  }
}

@media screen and (min-width: 1900px){
  .loginFormContainer {
    width: 15%;
  }
}