.CardMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ComplaintContainer{
    width: 15vw;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgb(42, 42, 42);
    transition: 1.5s;
    margin: 1rem;
    background-color: white;
}

.ComplaintContainer{
    font-size: 1.2rem;
}

.ComplaintContainer:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    color: white;
    transition: 1.5s;
}

.ComplaintCardImage{
    display: inline-block;
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.ComplaintInfo{
    padding: 0.2rem;
}

.ComplaintText{
    font-weight: bold;
}

.ComplaintIconHolder{
    display: flex;
}

.ComplaintIconHolder i{
    margin-top: 1rem;
}

.ComplaintIconHolder i:hover{
    margin-top: 1rem;
    cursor: pointer;
}



