.complaintContainer{
    color: white;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.complaintContainer:hover{
    cursor: pointer;
}

.aboveFilterContent{
    z-index: 1;
}

img{
    position: absolute;
}