.mainContainer{
    background-color: rgb(112, 112, 112);
    height: 93vh;
    padding: 4rem;
    box-sizing: border-box;
}

.complaintTableContainer{
    height: 100%;
    width: 100%;
    background-color: rgb(156, 156, 156);
    overflow-y: scroll;
    overflow-x: hidden;
}

.complaintTable{
    width: 100%;
    color: white;
}

th{
    height: 50px;
    width: 20%;
}

