@media screen {
  .MainComplaintContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;
  }

  .selectedWidth{
    width: 85vw;
  }
  
  .h1-user{
    text-align: center;
    font-size: 1.8rem;
    margin: 0.7rem;
  }
  
  .p-user{
    line-height: 2;
    font-size: 0.85rem;
  }
  
  .FormIntroduction{
    text-align: center;
    margin: 0 0 4rem;
    padding: 1rem;
  }
  
  .SubmitComplaintForm{
    padding: 1rem;
    color: black;
    box-shadow: 2px 2px 5px 1px rgb(122, 122, 122);
  }
  
  .input-user{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .contactInfo label{
    margin-bottom: 0.3rem;
  }
  
  .ComplaintFormContainer{
    border: 1px solid black;
    margin-bottom: 4rem;
  }

  .SectionBreaker{
    margin: 2rem;
    border: none;
    border-top: 1px dashed grey;
  }
  
  .GoogleMapContainer{
    margin: 2rem;
    height: 40vh;
  }
  
  .city-search-input{
    
  }
  
  .SubmitComplaintButton{
    margin: 4rem 0 0;
   
  }

  .PleaseSelectPlace{
    font-size: 1.3rem;
    text-align: center;
  }
}

@media screen and (min-width: 425px){
  .h1-user{
    font-size: 2.1rem;
  }
  
  .p-user{
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 600px){
  .h1-user{
    font-size: 2.3rem;
  }
  
  .p-user{
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px){
  .selectedWidth{
    width: 48vw;
  }

  .h1-user{
    font-size: 2.3rem;
  }
  
  .p-user{
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px){
  .selectedWidth{
    width: 37vw;
  }

  .h1-user{
    font-size: 3rem;
  }
  
  .p-user{
    font-size: 1.2rem;
  }

  .input-user{
    font-size: 1.3rem;
  }
}