.MainComplaintContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 0;
}

.h1-user{
  font-size: 3rem;
  margin: 0.7rem;
}

.p-user{
  line-height: 2;
  font-size: 1.1rem;
}

.FormIntroduction{
  text-align: center;
  margin: 0 0 4rem;
  width: 30vw;
}

.SubmitComplaintForm{
  padding: 1rem;
  color: white;
  background-color: rgb(49, 49, 49);
  width: 30vw;
}

.input-user{

}

.ComplaintFormContainer{
  border: 1px solid black;
  margin-bottom: 4rem;
}

.GoogleMapContainer{
  border: 1px solid black;
  margin: 2rem;
  height: 40vh;
  width: 30vw;
}

.SubmitComplaintButton{
  margin: 4rem 0 0;
  width: 30vw;
}