
.NavbarUnorderedList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(32, 32, 32);
  height: 7vh;
}

.NavbarUnorderedList li {
  margin-right: 2rem;
}

.NavbarUnorderedList li a {
  height: 100%;
  display: inline-block;
  padding: 0rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NavbarUnorderedList li a:hover {
  transition: 1.1s;
  color: rgb(0, 0, 0);
  background-color: white;
}
