.ShowcaseContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 93vh;
  background-image: url("../Photos/photo7.jpg");
  background-image: url(/src/Components/Photos/photo7.jpg);
}

.ShowcaseContainer h1 {
  font-size: 4rem;
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  line-height: 1.5;
}

.Filter {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.7;
}
