.block {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  width: 35%;
  height: 60%;
  margin: 60px auto;
  align-items: flex-start;
  justify-content: flex-start;
}
